<%= form_for ([@publish,@author]), url: authorcreate_path do |f| %>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
<% end %>