<html>
  <head>
  </head>
  <body>
    <header><div id = "heading">New Publish</div></header>
    <div id = "main">
      <div id="tab">
      <%= render 'form' %>
      <%= link_to 'Back', publishes_path %>
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>
